@import "./../../variables";

.header {
  flex: 0 1 auto;
  padding-top: 10px;
  min-height: 110px;
  background: #373737;
  //border-bottom: 1px solid $red;

  .top {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .title {
      display: flex;
      align-items: flex-end;

      img {
        color: $white-font;
        margin-right: 40px;
        max-width: 34px;
        filter: contrast(100%);
      }

      .text {
        color: $white-font;
      }
    }
  }

  .bottom {
    .navigation {
      .link {
        color: $white-font;
        text-decoration: none;
        font-weight: 500;
        margin-right: 40px;
        padding: 5px;
        border-radius: 5px 5px 0 0;
        transition: background .2s ease-in-out, border .2s ease-in-out;
        border: 2px solid transparent;
      }

      .active {
        color: $black;
        background-color: $sub-white;
      }
    }
  }
}
